<div class="editor {{selectedColor}}">
    <Editor::ColorPicker
        @colors={{this.editor.colors}}
        @selectedColor={{selectedColor}}
        @onColorChange={{this.setSelectedColor}}>
    </Editor::ColorPicker>
    <textarea
        value={{@value}}
        {{on "keyup" this.setInputValue}}
        id="area" rows="10">
    </textarea>
    {{#if @value}}
        <button class="clear" {{on "click" this.onClearClicked}}>X</button>
    {{/if}}
    <Editor::KeyData
        @value={{@value}}
        @selectedColor={{selectedColor}}>
    </Editor::KeyData>
</div>