<div class="editor {{concat @selectedColor (if @isFullScreen ' is-fullscreen')}}">
    <Textarea
        value={{@value}}
        {{autofocus}}
        {{on "keydown" this.setInputValue}}
        placeholder="Enter some text..."
        spellcheck="false"
        id="area">
    </Textarea>
    <button class="action full-screen"
            title="{{if @isFullScreen 'Collapse editor' 'Expand editor'}}"
            {{on "click" this.toggleFullScreen}}>
        {{svg-jar (if @isFullScreen "collapse" "expand") width="30px" heigh="30px"}}   
    </button>
    <Editor::ColorPicker
        @colors={{this.editor.colors}}
        @selectedColor={{@selectedColor}}
        @onColorChange={{this.setSelectedColor}}>
    </Editor::ColorPicker>
    {{#if @value}}
        <button class="action clear" title="Clear text" {{on "click" this.onClearClicked}}>
            {{svg-jar "broom" width="30px" heigh="30px"}}   
        </button>
    {{/if}}
    <Editor::KeyData @value={{@value}}></Editor::KeyData>
    {{yield}}
</div>